/*!
 * Styles for Microbrew Mondays responsive app
 */
body { font-family: 'Roboto', sans-serif; background: #EFCB56; font-size: 16px; }


header.top { 
	/*background-color: #bbb;*/
	padding: 0em 0 0em 0; 
	background: #ddd url("../images/P1000913.jpg") no-repeat center center;
	background-blend-mode: multiply;
	background-size: 100%;
	height: 300px;
}

header.top .title {
	padding-top: 7em;
	position: absolute;
}

nav { 
	padding: 2em 0 0em 0;
	background-color: transparent;
	box-shadow: none;
	height: 43px;
	margin-top: 178px;
}

/*m initially hide non-default panels*/
.breweryInfo {display: none;}
.beerInfo {display: block;}
.listView.beers {display: none;}
.listView.myReviews {display: none;}

section.newBeer {display: none;}
section.newBrewery {display: none;}
section.editBrewery {display: none;}
section.editBeer {display: none;}

section {
	background-color: #EFEad7;
	margin-top: 0;
}

.navbar-nav li {
	margin-right: 2em;
	font-weight: 400;
	font-size: 100%;
	color: rgba(255,255,255, 0.8 );
	line-height: 2em;
	float: left; 
	position: relative; 
}

.navbar-nav li.active {
	color: #fff;
	border-bottom: 3px solid #d35704;
	cursor: none;
	background-color: rgba(255,255,255, 0.3 );
}

.listView, .infoView { 
	background-color: #fff; 
	/*max-width: 500px;*/
}

.paging {
	position: absolute;
	float: right;
	margin: 0em 1em;
	font-size: 75%;
	right: 0em;
	margin-top: .7em;
}

.paging i{ 
	padding: 0 .5em;
	color: #aaa;
	font-size: 140%;
}

.paging .count {
	margin-top: -15px;
	vertical-align: top;
}

footer { 
	clear: both;
	position: relative;
	bottom: 0;
	padding: 1em;
	text-align: center;

}


.globalControls {
	position: relative;
	top: 2em;
	right: 2em;
	padding: 1em;
	float: right;
}

.globalControls input.search {
	border-radius: 15px;
	border: none;
	padding: 5px 10px;
	margin-right: 1em;
	float: right;
}
.globalControlsSimple i {
	padding-left: 0em;
	float: right;
}

.dark-blue {
	background-color: #1f3d56;
}

.hops-green {
	background-color: #849b39;
}

.rust {
	background-color: #D35704;
}


/*   Info Panel (right) */
section {
	border-right: 0px solid #ddd;
	border-bottom: 0px solid #ddd;
	padding: 0 0 1.5em 0;
}

section.breweryInfo {
	padding-bottom: 0;
}


section.breweryInfo header {
	height: 140px;
	background-color: #D35704;
	padding-top: .5em;
	padding-left: 2em;
	background: #AA4603 url("../images/beers2.jpg") no-repeat top center;
	background-blend-mode: multiply;
	background-size: 100%;
}
section.beerInfo header {
	height: 140px;
	background-color: #778c33;
	padding-top: .5em;
	padding-left: 2em;
	background: #778c33 url("../images/hops.jpg") no-repeat center center;
	background-size: 100%;
	background-blend-mode: multiply;
}

section.breweryInfo header h3, section.beerInfo header h3  {
	color: #fff;
	font-size: 120%;
	font-weight: 200;
	margin-bottom: .2em;
}

section.breweryInfo header .meta, section.beerInfo header .meta {
	font-size: 80%;
	color: rgba(255, 255, 255, 0.7);
	font-weight: 300;
	margin-bottom: 1em;
}

section.breweryInfo header .lastVisited, section.beerInfo header .beerStyle {
	font-size: 90%;
	font-weight: 300;
}

section.breweryInfo header .lastVisited, section.beerInfo header .beerStyle {
	font-size: 90%;
	color: rgba(255, 255, 255, 0.8);
	font-weight: 300;
}

section.newBeer, section.newBrewery {
	padding-top: 0em;
	padding-bottom: 1.5em;
}

header .info {
	float: right;
	position: relative;
	right: 1em;
	top: -1em;
}

header .info .btn.avatar {
	width: 34px;
	height: 34px;
	opacity: .8;
	padding: .25em;
	margin-left: .5em;
	font-size: 150%;
	bottom: .3em;
}

.infoView header .logo {
	float: right;
	top: 1em;
	right: 1em;
	position: absolute;
}

header .close {
	color: #fff;
	margin-right: .5em;
	opacity: .5;
	text-shadow: none;
}

header .close:hover {
	opacity: .7;
	color: #fff;
	text-shadow: none;
}



.leftPanel {
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	padding: 0;
/*	overflow-y: auto;
	overflow-x: hidden;*/
}

/*   List View Panel (left) */

.listView .item {
	border-bottom: 1px solid #e2ddd0;
	padding: 1em;
	padding-left: 1em;
}

.listView .item .name {
	font-size: 100%;
	font-weight: 400;
	padding-bottom: .1em;
}

.listView .item .meta {
	font-size: 85%;
	color: #BFBDB9;
	font-weight: 300;
}

.listView .item:hover {
	background-color: #f9f9ef;
	cursor: pointer;
}


/*   Card View */
.card {
	background: white;
	border-radius: 6px;
	box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.10);
	margin: .5em 5% 0em 5%;
	width: 90%;
	padding: 1em;
}

.card.location, .card.appearance {
	margin: 2em 5% 0em 5%;
}

.card.general, .card.brewery {
	margin: 0em 5% 0em 5%;
}

.card .map {
	height: 160px;
	background-color: #ddd;
	margin: 0 -1em;
}

.card h3, h3.list  {
	margin: 0em;
	font-size: 110%;
	font-weight: 400;
	padding-bottom: .5em;
}




h3.list  {
	margin-left: 1em;
	margin-top: 1.5em;
	font-size: 110%;
	font-weight: 400;
}

.card .meta {
	font-size: 85%;
	color: #999;
	font-weight: 300;
	margin: .6em;
}

.card.location .meta {
	margin: 0;
	padding-top: .5em;
}


/*   form fields */

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid rgb(3, 169, 244);
    box-shadow: 0 1px 0 0 rgb(3, 169, 244);
}



input#search {
	background-color: rgba(255, 255, 255, .30);
	border-radius: 20px;
	padding: 0 15px;
	border: none;
	font-size: 100%;
	width: 60%;
}

i.search {
	margin-left: -35px;
	margin-top: 5px;
	position: absolute;
	color: rgba(255, 255, 255, 1.0);
}

.taste form {
	margin-bottom: 3em;
}

.form-label {
	font-size: 70%;
	font-weight: 500;
}

.form-label.secondary {
	opacity: .4;
	padding-right: 4%;
	margin-top: -.7em;
}

.taste .form-label.secondary {
	position: absolute;
}

.form-label.secondary.last {
	right: 0;
	float: right;
	position: absolute;
}

.card.appearance .form-label.secondary {
	top: -1.2em;
	position: relative;
}

.card.appearance .form-label.secondary.last {
	position: relative;
	float: right;
	padding-right: 0%;
	top: 0em;
}


p.range-field {
	margin-top: -.5em;
}



p.range-field .thumb, input[type=range]::-webkit-slider-thumb {
	background-color: #Aa4603;
}

.range-field input[type=range]#color::-webkit-slider-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	border: 2px solid #fff;
	top: -30px;
	z-index: 20000;
	height: 1em;
	width: 1em;
}

.range-field .thumb, input[type=range]#color::-webkit-slider-runnable-track {
	background-color: transparent;
	border: none;
	height: 1.2em;
	margin-top: .5em;
}


.card .group {
	margin-bottom: 1em;
}

.colorSelector {
	width: 90%;
	height: 1.5em;
	margin-top: .5em;
	margin-right: 1em;
	position: absolute;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#efcd5b+0,d89e29+14,a86719+40,7a3a12+70,0a0505+100 */
	background: rgb(239,205,91); /* Old browsers */
	background: -moz-linear-gradient(left, rgb(239,205,91) 0%, rgb(216,158,41) 14%, rgb(168,103,25) 40%, rgb(122,58,18) 70%, rgb(10,5,5) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, rgb(239,205,91) 0%,rgb(216,158,41) 14%,rgb(168,103,25) 40%,rgb(122,58,18) 70%,rgb(10,5,5) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, rgb(239,205,91) 0%,rgb(216,158,41) 14%,rgb(168,103,25) 40%,rgb(122,58,18) 70%,rgb(10,5,5) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#efcd5b', endColorstr='#0a0505',GradientType=1 ); /* IE6-9 */

}
.card.general div.row, .card.brewery div.row, .card.notes div.row {
	margin:0;
}

input[type=text] {
	font-size: 1em;
	font-weight: 300;
	margin: 0;
	height: 2em;
}
textarea#notes {
	font-size: 1em;
	font-weight: 300;
	padding: 0 0em;
	height: 2em;
	margin: 0 0em;
	width: 100%;
}

input.disabled, textarea.disabled {
	color: #333;
}

span.label {
	font-size: 80%;
	font-weight: 300;
	margin-right: .3em;
	line-height: 2.5em;
}

span.label-default { 
	background-color: #E2DDD0;
	color: #666;
	opacity: 0.6;
}

span.label-active { 
	background-color: #849b39;
	color: #fff;
	opacity: 1;
}



a.external {
	font-weight: 400;
	right: 1em;
	top: .5em;
	position: absolute;
	color: rgb(3, 169, 244);
}

a.rate {
	font-weight: 400;
	right: 2em;
	top: -2em;
	position: relative;
	color: rgb(3, 169, 244);
	float: right;
}

a:hover {
	text-decoration: none;
	color: rgb(3, 150, 244);
}

.listView i.rating, .listView i.vote {
	float: right;
	position: relative;
	font-size: 100%;
	color: #EFCB56;
	padding-left: .2em;
	top: -2.5em;
}

header .info i.rating {
	font-size: 110%;
	color: #EFCB56;
	padding-left: 0em;
	padding-top: 1em;
}

.listView i.vote.active {
	color: #D35704;
}

.listView i.vote {
	color: #BFBDB9;
}

.listView i.vote:hover {
	color: #999;
	cursor: pointer;
}

.listView span.rating.meta, .listView span.vote.meta {
	clear: both;
	font-size: 80%;
	position: relative;
	float: right;
	top: -2.8em;
}

.rateBeer {
	font-size: 90%;
	font-weight: 400;
	margin-top: 1em;
	padding-right: 2em;
}

.rateBeer i.rating {
	opacity: .3;
	font-size: 140%;
	padding-left: 5px;
}

footer { 
	font-size: 85%;
	color: #999;
	font-weight: 300;
}

footer a {
	color: rgb(3, 169, 244);
}
.btn-large i.material-icons {
	font-size: 1.5em;
}

.btn-floating.btn-large.bottom {
	bottom: 2em; 
    right: 52%;
    position: fixed;
    z-index: 100;
}

.btn-floating.btn-large.bottom.right {
    bottom: 2em; 
    right: 18%;
    position: fixed;
    z-index: 200;
}

.btn-small i.material-icons {
	font-size: 1.2em;
}

header .btn-floating.btn-small {
	margin-top: 1em;
}

.btn-floating.btn-small.avatar {
	margin-top: 0px;
	margin-left: 1em;
}

.info .btn-floating.btn-small.avatar {
	margin-top: -15px;
	margin-left: .5em;
}

header .row {
	margin-bottom: 0;
}


/*
section.editBrewery {
	top: -52px;
	position: relative;
}*/

header.closeable  {
	padding: .2em .5em .2em 0;
	margin-bottom: 1.5em;
	background-color: transparent;

}
header.closeable h1 {
	font-size: 140%;
	font-weight: 300;
	color: #333;
}

header.closeable .close {
	color: #333;
	margin-top: .5em;
	opacity: 1;
	float: left;
	padding: 0 .5em;
	opacity: .7;
}

header.closeable .right {
	float: right;
	margin-top: .5em;
	color: #333;
	padding: 0 ;
	opacity: .7;
	display: none;
}



 header .btn.avatar {
	opacity: .6;
}
/*	initially hide simple global controls for larger screens
*/
.globalControls {display: block;}
.globalControlsSimple {
	display: none;
	float: right;
	padding: 1em 0;
	position: absolute;
	right: 0;
	top: .2em;
	margin-right: .5em;
}


/*	removes gutter
*/
div[class^="col"]{padding-left:0px; padding-right:0px;}
div[class^="row"]{padding-left:0px; padding-right:0px;}


/*	media queries -------- less than 1000px wide
*/

/* Extra small devices (phones */
@media screen and (max-width: 400px) { 
	header {
		height: 95px;
		padding-left: 0em;
	}

.navbar-nav { margin: 0;}
	.navbar-nav li {
		padding: 0 1em;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 0em;
		font-size: 85%;
	}
	h1.head {
		font-size: 120%;
		padding-left: 1em;
		line-height: 1em;
		margin-top: 1em;
	}
	nav { 
		padding: 0em 0 0em 0;
		height: 40px;
		margin-top: .5em;
		margin-bottom: 0;
		margin-left: 0em;
	}

	.globalControls {display: none;}
	.globalControlsSimple {display: block;}
	.breweryInfo {display: none;}
	.beerInfo {display: none;}
}


/* Small devices (small tablets, larger phones, 400 and up) */
@media screen and (min-width: 400px) { 
	header {padding-left: 0em;}
	.globalControls {top: 0; right: 0;}
	.navbar-nav li {
		padding: 0 1.5em;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: -.4em;
	}
	header {
		padding: 0em 0 0em 0; 
	}
	header h1 {
		font-size: 150%;
		padding-left: 1em;
		margin-top: .5em;
		color: #fff;
	}

	.globalControls {display: none;}
	.globalControlsSimple {display: block;}
	.breweryInfo {display: none;}
	.beerInfo {display: none;}

	nav { 
		padding: .5em 0 0em 0;
		height: 52px;
	}
}

/* Small devices (show global controls */
@media screen and (min-width: 600px) { 
	.globalControls {display: block;}
	.globalControlsSimple {display: none;}
	header h1 {
		font-size: 170%;
		padding-left: 1em;
		margin-top: 1em;
	}
	input#search {
		width: 40%;
	}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {   


	.navbar-nav li {
		padding: 0 2em;
		margin-left: 0px;
		margin-right: 0px;
		margin-bottom: 0em;
	}
	nav { 
		height: 44px;
	}
	header {
		padding: 1em 0 0em 0; 
	}

	header.top {
			background: #ddd url("../images/P1000913.jpg"), url("../images/MicrobrewMondays.png") no-repeat center center;
			background-image: url("../images/P1000913.jpg"), url("../images/MicrobrewMondays.png");
	}

	header h1 {
		font-size: 200%;
		padding-left: 1em;
		margin-top: .5em;
		display: none;
	}


	.globalControls {
		display: block;
	}
	input#search {
		width: 50%;
	}
	.globalControlsSimple {display: none;}



/* desktop devices  */
@media screen and (min-width: 990px) { 
	 	.navbar { margin: 0;}
	 	nav { 
			height: 44px;
		}
		input#search {
		width: 50%;
		}
	}


}

