<section class='newBeer'>
						<header class='closeable'>
							<!-- <i class='close material-icons'>close</i> -->
							<i class="material-icons right">more_vert</i>
							<i class="material-icons right">search</i>
							<h1>Tell us about this beer...</h1>
							
						</header>

					<form name="newBeer" method="post" action="/createbeer">

						<div class='card general'><div id="the-basics">

							      <div class="row">
							        <div class="input-field col s12">
							          <input placeholder="Beer Name" name="beerName" type="text" class="">
							          <label for="beerName"> </label>
							        </div>
							      </div>
							      <div class="row">
							        <div class="input-field col s12">
							          <input placeholder="Style of Beer" name="beerStyle" id="beerStyle" type="text" class="typeahead" >
							          <label for="beerStyle"></label>
							        </div>
							      </div>
							      <div class="row">
							        <div class="input-field col s12">
							          <input placeholder="Brewery" name="brewery" type="text" class="" value='{{ brewery.name }}'>
							          <label for="brewery"></label>
							        </div>
							     
									</div>
							      </div>

		

						
							<div class='rateBeer'>Overall, I'd rate this beer:
								<div class="br-wrapper br-theme-fontawesome-stars">
								  <select id="rating" name="rating">
								    <option value="1">1</option>
								    <option value="2">2</option>
								    <option value="3">3</option>
								    <option value="4">4</option>
								    <option value="5">5</option>
								  </select>
								</div>

							</div>
						</div>

						<div class='card appearance'>
							<h3>Appearance &amp; Aroma</h3>

							<div class="group">

									<div class="form-label">COLOR</div>
									<div class='colorSelector'></div>
								    <p class="range-field">
								      <input type="range" name="colorRange" id="color" min="0" max="100" />
								    </p>
								    <span class="form-label secondary">STRAW</span>
									<span class="form-label secondary">GOLD</span>
									<span class="form-label secondary">AMBER</span>
									<span class="form-label secondary">COPPER</span>
									<span class="form-label secondary">DARK BROWN</span>
									<span class="form-label secondary last">BLACK</span>
								
							
							</div>
							
							<div class="group">
								<div class="form-label">MALT AROMA</div>
								<span class="pills pills-default">Grain</span>
								<span class="pills pills-default">Bread</span>
								<span class="pills pills-default">Sweet</span>
								<span class="pills pills-default">Toast</span>
								<span class="pills pills-default">Nut</span>
								<span class="pills pills-default">Caramel</span>
								<span class="pills pills-default">Toffee</span>
								<span class="pills pills-default">Coffee</span>
								<span class="pills pills-default">Chocolate</span>
							</div>
							
							<div class="group">
							<div class="form-label">HOPS AROMA</div>
								<span class="pills label-default">Earth</span>
								<span class="pills label-default">Floral</span>
								<span class="pills label-default">Herbal</span>
								<span class="pills label-default">Spice</span>
								<span class="pills label-default">Resin</span>
								<span class="pills label-default">Citrus</span>
							</div>
						</div>

						<div class='card taste'>
							<h3>Taste</h3>
							<div class="group">
								<div class="form-label">INTENSITY</div>
								   <p class="range-field">
								    <input type="range" name="intensity" min="0" max="100" />
								    </p>
									<span class="form-label secondary">FAINT</span>
									<span class="form-label secondary last">STRONG</span>
							</div>

							<div class="group balance">
									<div class="form-label">BALANCE</div>
									    <p class="range-field">
									      <input type="range" name="balance" min="0" max="100" />
									    </p>
									  
									<span class="form-label secondary">SWEET</span>
									<span class="form-label secondary last">BITTER</span>
							</div>
						</div>

						<div class='card notes'>
							<h3>Notes</h3>

							<div class="row">
							    <form class="col s12">
							      <div class="row">
							        <div class="input-field col s12">
							          <textarea placeholder="What do you think?" name="notes" class="materialize-textarea notes"></textarea>
							          <label for="notes"></label>
							        </div>
							      </div>
							 	 </div>

						</div>
								<input type="cancel" class="btn secondary cancel" value="Cancel">
								<input type="submit" class="btn primary done" value="Add Review">
							  </form>



					</section>