
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-xs-8 col-sm-6 col-md-6 col-md-offset-1 col-lg-5'>
						<h1 class="head">{{title}}</h1>
						<img src="/public/images/MicrobrewMondays.png" class="title large" alt="Microbrew Mondays"></img>
					</div>
					<div class="globalControls input-field col-xs-4 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 col-lg-3 col-lg-offset-3">
			          	<input placeholder=" " id="search" type="text" >
			          	<i class="material-icons search">search</i>
			          	<a class="btn-flat btn-floating btn-small avatar waves-effect waves-light dark-blue"><i class="material-icons">person</i></a> 
       				 	
       				 </div>
				</div>
			</div>

         
        </div>
			</div>
			<div class='globalControlsSimple col-xs-3 col-xs-offset-0'>
				<i class="material-icons">more_vert</i>
				<i class="material-icons">search</i>				
			</div>

			<nav>
			<div class='container-fluid'>
				<div class='row'>
					<div class='col-xs-12 col-sm-12 col-md-6 col-md-offset-1 col-lg-5 col-lg-offset-2'>
						<ul class='nav navbar-nav'>
							<li class='breweryNav active'>BREWERIES</li>
							<li class='beersNav'>BEERS</li>
							<li class='reviewsNav'>MY REVIEWS</li>
						</ul>

					</div>
				</div>
			</div>
		</nav>
