<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Microbrew Mondays</title>
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">

        <!--Import Google Icon Font-->
        <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="../public/materialize/css/materialize.min.css"  media="screen,projection"/>
        <!-- Mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- <link rel="stylesheet" href="/jquery-bar-rating/dist/themes/fontawesome-stars.css">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <link href='/css/bootstrap.css' rel='stylesheet'> -->
                    
        <link href='../public/materialize/css/nouislider.css' rel='stylesheet'>
        <link href='../public/css/styles.css' rel='stylesheet'>

        <link rel="shortcut icon" href="../public/favicon.ico" type="image/x-icon">
        <link rel="icon" href="../public/favicon.ico" type="image/x-icon">


    </head>
    <body>
        {{{ body }}}

    </body>
</html>
